@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;600;700&display=swap");

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: "Inter", sans-serif;
  height: 100vh;
}

nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background: #21222a;
  height: 90px;
  padding: 30px 25px;
}

nav > h1,
nav > h4 {
  margin: 0;
}

nav > h3 {
  margin-right: auto;
  font-weight: 700;
  font-size: 22px;
}

nav > h4 {
  color: #deebf8;
  font-weight: 600;
}

nav > img {
  height: 89px;
  margin-right: 7px;
}

main {
  padding: 57px 27px;
  background: #272935;
  color: #fff;
}

.main--title {
  margin: 0;
  font-size: 39px;
  letter-spacing: -0.05em;
}

.main--list {
  margin-top: 46px;
  max-width: 400px;
}

.main--list > li {
   line-height: 19px;
   padding-block: 10px;
}

.main--list > li::marker {
   font-size: 1.4rem;
   color: #61dafb
}
